NoteTakingClient/Connected Services/ServiceReference1/NoteTakingApp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NoteTakingApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NoteTakingApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NoteTaking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteTaking" nillable="true" type="tns:NoteTaking" />
</xs:schema>