NoteTakingClient/Connected Services/ServiceReference1/NoteTakingApp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/NoteTakingApp?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NoteTakingApp" />
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NoteTakingApp" minOccurs="0" name="nt" nillable="true" type="q1:NoteTaking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNotesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NoteTakingApp" minOccurs="0" name="nt" nillable="true" type="q2:NoteTaking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>